h1 {
    font-family: cursive;
    text-align: center;
    padding-left: 10px; 
}
button {
    font-size: 30px;
    font-family: cursive;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    background-color: #008cba;
}
#canvas {
    margin-left: 20%;
    align-self: auto;
    border: 16px solid black;
    border-style: double;
}
